.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.flex-center-align {
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}